
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="React App Routing" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Configuración de caché -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <!-- Forzar caché en archivos estáticos -->
                <add name="Cache-Control" value="public, max-age=604800, immutable" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
